*{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: #303030;
}
#logo{
	width: 80%;
	color:white;
}
h1{
	font-family: 'VT323', monospace;
	font-size: 32px;
	font-weight: bolder;
}
p{

	font-family: 'VT323', monospace;
	font-size: 20px;
}
#info{
	width: 80%;
	font-family: 'VT323', monospace;
	font-size: 20px;
	color: white;
	text-align: right;
}
#content{
	width: 80%;
	height: 80vh;
	font-family: 'VT323', monospace;
	font-size: 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
form{
	width: 80%;
	background: #303030;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.submit{
	font-family: 'VT323', monospace;
	font-size: 20px;
	color: white;
	padding: 10px 15px;
	background: #1db954;
	border:none;
	margin-top: 20px;
}
.submit:hover{
	transform: translate(-4px,-4px);
	box-shadow: 0px 0px 1px #17803c,1px 1px 1px #17803c,2px 2px 1px #17803c,3px 3px 1px #17803c,4px 4px 1px #17803c;
}
.data{
	font-family: 'VT323', monospace;
	font-size: 20px;
	width: 50%;
	height: 50%;
	background: #1db954;
	color: white;
	border:none;
	padding: 10px 15px;
	margin-bottom: 20px;
}
.data::placeholder { 
  color: #f0f0f0;
  opacity: 1; 
}