<!DOCTYPE html>
<html>
<head>
	<title>Botter</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
</head>
<body>
	<div id="logo">
		<h1 id="logoh1">Botter</h1>
		<p>Playlist automisation for your spotify playlists</p>
	</div>
	<div id="content">Succesfully added a random number tracks to your playlist.Enjoy!</div>
	<div id="content">
		<a class="submit" href="/">Go home</a>
		<a class="submit" href="/trackselect">Go back and add more songs</a>
	</div>
</body>
</html>