<!DOCTYPE html>
<html>
<head>
	<title>Botter</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
</head>
<body>
	<div id="logo">
		<h1 id="logoh1">Botter</h1>
		<p>Playlist automisation for your spotify playlists</p>
	</div>
	<di id="content">Please authorize by logging into your spotiify account.</div>
	<div id="login">
		<form method="POST" action="#" >
			<input class="submit" type="submit" value="Login via Spotify">
		</form>
	</div>
</body>
</html>